<p id="notice"><%= notice %></p>

<p>
  <strong>Superteam:</strong>
  <%= @team.superteam_id %>
</p>
<div class="subteam">
  <strong>Name:</strong>
  <%= @team.name %><br>
  <% @team.teammembers.each do |teammember| %>
    <%= form_for(teammember) do |f| %>
      <%= teammember.name %><%= f.check_box :ooo %><%= f.submit %>
    <% end %>
  <% end %>
</div>
<div style="clear: both;">
<% cache @team.subteams do %>
  <% @team.subteams.each do |subteam| %>
    <% cache subteam do %>
      <%= render partial: "subteam", object: subteam  %>
    <% end %>
  <% end %>
<% end %>
<div style="clear: both;">
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<%= link_to 'New Subteam', new_team_path(superteam_id: @team) %>
<%= link_to 'New Teammember', new_teammember_path(team_id: @team) %>
</div>

<div style="font:14px 'Helvetica Neue'; color:#AAAAAA">
OOO:<% @team.all_ooo_teammembers.each do |teammember| %>
<%= teammember.name %><%= "," unless teammember.eql?(@team.all_ooo_teammembers.last) %>
<% end %>
</div>
