<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text, size: 80 %>
  </div>

  <div class="field">
    <%= f.label :teammember_id %>
    <%= f.select :teammember_id, Teammember::all.map { |teammember| [teammember.name, teammember.id] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
