<%= form_for(teammember, remote: true) do |f| %>
  <% if teammember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teammember.errors.count, "error") %> prohibited this teammember from being saved:</h2>

      <ul>
      <% teammember.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team %>
    <%= f.text_field :team_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ooo %>
    <%= f.check_box :ooo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
