<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @teammember.team_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @teammember.name %>
</p>
<p>
  <strong>OOO:</strong>
  <%= @teammember.ooo %>
</p>

<%= link_to 'Edit', edit_teammember_path(@teammember) %> |
<%= link_to 'Back', teammembers_path %>
