<h1>Daily Notes</h1>

<div class="subteam">
  <strong>Name:</strong>
  <%= @team.name %><br>
  <%= render (@team.teammembers) %>
</div>
<div style="clear: both;">
<%= render (@team.subteams) %>
<div style="clear: both;">
<br>
OOO: (<%= @team.all_ooo_teammembers.length %>) Missing: (<%= @team.all_missing_teammembers.length %>) Home Office: (<%= @team.all_homeoffice_teammembers.length %>)
<br>Copy Part:<br><br>

<div class="goals">
Goals:
<ol class="goals" style="margin:18px;margin-top:0px;">
<%= render (Goal.all)%>
</ol>
</div>

<div class="notes" >
<span id="note_headline">Notes:<span id="add_button"><%= link_to 'New Note', new_note_path %></span></span>
<ul class="notes" style="list-style-type:disc; padding:0; margin:18px;margin-top:0px;">
<%= render (Note.all)%>
</ul>
</div>

<%= render partial: "ooo", object: @team  %>
<%= render partial: "missing", object: @team  %>
<%= render partial: "homeoffice", object: @team  %>
</div>
