<h1>Daily Notes</h1>

<div class="subteam">
  <strong>Name:</strong>
  <%= @team.name %><br>
  <%= render (@team.teammembers) %>
</div>
<div style="clear: both;">
<%= render (@team.subteams) %>
<div style="clear: both;">
<br>
OOO: (<%= @team.all_ooo_teammembers.length %>) Missing: (<%= @team.all_missing_teammembers.length %>) Home Office: (<%= @team.all_homeoffice_teammembers.length %>)
<br>Copy Part:<br><br>

<div>
	Notes:
<ul class="notes" style="list-style-type:disc; padding:0; margin:18px">
<%= render (Note.all)%>
</ul>
</div>

<%= render partial: "ooo", object: @team  %>
<%= render partial: "missing", object: @team  %>
<%= render partial: "homeoffice", object: @team  %>
</div>
