<p id="notice"><%= notice %></p>
<h1>Daily Notes Test</h1>

<%= render (@team) %>
<div style="clear: both;"/>
<br>
OOO: (<%= @team.all_ooo_teammembers.length unless @team.nil? %>) Home Office: (<%= @team.all_homeoffice_teammembers.length unless @team.nil? %>)
<br>Copy Part:<br><br>

<div class="goals">
Goals:
<ol class="goals" style="margin:18px;margin-top:0px;">
<%= render (Goal.order(:priority))%>
</ol>
</div>

<div class="notes" >
<span id="note_headline">
<%= "Notes:" unless Note.where(goal: nil).empty? %>
<%= "No additional updates today" if Note.where(goal: nil).empty? %>
<span id="add_button"><%= link_to '+', new_note_path %></span></span>
<ul class="notes" style="list-style-type:disc; padding:0; margin:18px;margin-top:0px;">
<%= render (Note.where(goal: nil))%>
</ul>
</div>

<%= render partial: "ooo", object: @team  %>
<%= render partial: "homeoffice", object: @team  %>
</div>